In [22]:
import numpy as np
import pandas as pd 
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../../accepted_2007_to_2018Q4.csv.gz')
df.drop(columns='member_id', inplace=True)

df = df[df['issue_d'].notna()]

df.shape

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2260668, 150)

## Clean Missing Variables

In [3]:
df['annual_inc_joint'].fillna(df['annual_inc'], inplace=True)
df = df[df['annual_inc_joint'].notna()]
df['dti_joint'].fillna(df['dti'], inplace=True)
df = df[df['dti_joint'].notna()]

In [4]:
mode_ = ['emp_length', 'inq_fi', 'inq_last_12m', 'open_acc', 'pub_rec']

for col in mode_:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [5]:
zero_ = ['pub_rec_bankruptcies', 'total_acc', 'revol_util', 'delinq_amnt', 'delinq_2yrs',\
         'mths_since_last_delinq', 'mths_since_last_major_derog']

for col in zero_:
    df[col].fillna(0, inplace=True)

In [7]:
df_raw = df[['issue_d', 'grade', 'loan_status', 'annual_inc_joint', 
        'dti_joint', 'emp_length', 'fico_range_high',
       'fico_range_low', 'funded_amnt', 'home_ownership', 'inq_fi',
       'inq_last_12m', 'installment', 'int_rate', 'loan_amnt', 'open_acc',
       'pub_rec', 'pub_rec_bankruptcies', 'total_acc',
       'revol_bal', 'revol_util', 'delinq_amnt', 'delinq_2yrs',
       'mths_since_last_delinq', 'mths_since_last_major_derog', 'purpose']].copy()

In [8]:
df_raw['issue_d'] = pd.to_datetime(df_raw['issue_d'], format='%b-%Y')
df_raw['issue_month'] = df_raw['issue_d'].dt.month
df_raw['issue_year'] = df_raw['issue_d'].dt.year

df_raw.drop(columns='issue_d', inplace=True)

In [12]:
df_raw.isnull().sum()

grade                          0
loan_status                    0
annual_inc_joint               0
dti_joint                      0
emp_length                     0
fico_range_high                0
fico_range_low                 0
funded_amnt                    0
home_ownership                 0
inq_fi                         0
inq_last_12m                   0
installment                    0
int_rate                       0
loan_amnt                      0
open_acc                       0
pub_rec                        0
pub_rec_bankruptcies           0
total_acc                      0
revol_bal                      0
revol_util                     0
delinq_amnt                    0
delinq_2yrs                    0
mths_since_last_delinq         0
mths_since_last_major_derog    0
purpose                        0
issue_month                    0
issue_year                     0
dtype: int64

## Clean Categorical Variables

In [ ]:
df_raw['emp_length'] = df_raw['emp_length'].str.extract('(\d+)', expand=False)

['loan_status', 'home_ownership', 'purpose']

In [36]:
test.loan_status.value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1984
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [37]:
test.home_ownership.value_counts()

MORTGAGE    1111450
RENT         894929
OWN          253057
ANY             996
OTHER           182
NONE             50
Name: home_ownership, dtype: int64

In [38]:
test.purpose.value_counts()

debt_consolidation    1277877
credit_card            516971
home_improvement       150457
other                  139436
major_purchase          50445
medical                 27488
small_business          24689
car                     24013
vacation                15525
moving                  15403
house                   14136
wedding                  2355
renewable_energy         1445
educational               424
Name: purpose, dtype: int64

In [34]:
df_raw.head()

,grade,loan_status,annual_inc_joint,dti_joint,emp_length,fico_range_high,fico_range_low,funded_amnt,home_ownership,inq_fi,inq_last_12m,installment,int_rate,loan_amnt,open_acc,pub_rec,pub_rec_bankruptcies,total_acc,revol_bal,revol_util,delinq_amnt,delinq_2yrs,mths_since_last_delinq,mths_since_last_major_derog,purpose,issue_month,issue_year
0,C,Fully Paid,55000.0,5.91,10,679.0,675.0,3600.0,MORTGAGE,3.0,4.0,123.03,13.99,3600.0,7.0,0.0,0.0,13.0,2765.0,29.7,0.0,0.0,30.0,30.0,debt_consolidation,12,2015
1,C,Fully Paid,65000.0,16.06,10,719.0,715.0,24700.0,MORTGAGE,0.0,6.0,820.28,11.99,24700.0,22.0,0.0,0.0,38.0,21470.0,19.2,0.0,1.0,6.0,0.0,small_business,12,2015
2,B,Fully Paid,71000.0,13.85,10,699.0,695.0,20000.0,MORTGAGE,2.0,1.0,432.66,10.78,20000.0,6.0,0.0,0.0,18.0,7869.0,56.2,0.0,0.0,0.0,0.0,home_improvement,12,2015
3,C,Current,110000.0,17.06,10,789.0,785.0,35000.0,MORTGAGE,0.0,0.0,829.90,14.85,35000.0,13.0,0.0,0.0,17.0,7802.0,11.6,0.0,0.0,0.0,0.0,debt_consolidation,12,2015
4,F,Fully Paid,104433.0,25.37,3,699.0,695.0,10400.0,MORTGAGE,2.0,3.0,289.91,22.45,10400.0,12.0,0.0,0.0,35.0,21929.0,64.5,0.0,1.0,12.0,0.0,major_purchase,12,2015

,grade,loan_status,annual_inc_joint,dti_joint,emp_length,fico_range_high,fico_range_low,funded_amnt,home_ownership,inq_fi,inq_last_12m,installment,int_rate,loan_amnt,open_acc,pub_rec,pub_rec_bankruptcies,total_acc,revol_bal,revol_util,delinq_amnt,delinq_2yrs,mths_since_last_delinq,mths_since_last_major_derog,purpose,issue_month,issue_year
421097,D,Current,50000.0,21.80,8,669.0,665.0,5000.0,RENT,9.0,5.0,186.82,20.39,5000.0,5.0,0.0,0.0,18.0,116.0,23.2,0.0,1.0,9.0,9.0,other,3,2018
421098,B,Current,196000.0,18.29,2,704.0,700.0,15000.0,OWN,4.0,7.0,483.45,9.92,15000.0,19.0,0.0,0.0,53.0,24243.0,46.3,0.0,0.0,65.0,0.0,debt_consolidation,3,2018
421099,G,Current,81000.0,31.94,1,669.0,665.0,11200.0,RENT,8.0,10.0,367.82,30.79,11200.0,8.0,0.0,0.0,14.0,1526.0,24.6,0.0,1.0,6.0,70.0,medical,3,2018
421100,D,Current,65000.0,12.89,10,669.0,665.0,25000.0,MORTGAGE,4.0,3.0,688.35,21.85,25000.0,7.0,0.0,0.0,16.0,8657.0,98.4,0.0,1.0,22.0,23.0,debt_consolidation,3,2018
421101,A,Fully Paid,52000.0,0.58,9,764.0,760.0,3000.0,RENT,1.0,2.0,93.10,7.34,3000.0,7.0,0.0,0.0,30.0,141.0,0.5,0.0,0.0,26.0,0.0,major_purchase,3,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,C,Current,95000.0,19.61,7,669.0,665.0,24000.0,MORTGAGE,1.0,1.0,543.50,12.79,24000.0,5.0,0.0,0.0,54.0,49431.0,84.4,0.0,0.0,0.0,0.0,home_improvement,10,2016
2260695,B,Current,108000.0,34.94,10,699.0,695.0,24000.0,MORTGAGE,1.0,4.0,515.74,10.49,24000.0,24.0,1.0,0.0,58.0,21665.0,39.0,0.0,0.0,60.0,60.0,debt_consolidation,10,2016
2260696,B,Current,227000.0,12.75,9,709.0,705.0,40000.0,MORTGAGE,3.0,2.0,859.56,10.49,40000.0,5.0,0.0,0.0,37.0,8633.0,64.9,0.0,7.0,9.0,10.0,debt_consolidation,10,2016
2260697,C,Charged Off,110000.0,18.30,6,664.0,660.0,24000.0,RENT,0.0,1.0,564.56,14.49,24000.0,10.0,1.0,1.0,31.0,17641.0,68.1,0.0,0.0,67.0,67.0,debt_consolidation,10,2016
2260698,C,Current,95000.0,23.36,10,664.0,660.0,14000.0,MORTGAGE,3.0,2.0,329.33,14.49,14000.0,8.0,0.0,0.0,22.0,7662.0,54.0,0.0,0.0,37.0,37.0,debt_consolidation,10,2016